.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px 60px;
	background-color: rgb(231, 229, 229);
}

.logo__part {
	display: flex;
	gap: 5px;
	justify-content: center;
	align-items: center;
}

.logo__part > i {
	font-size: 25px;
	cursor: pointer;
	color: rgb(2, 30, 155);
}

.logo__part > span {
	font-size: 20px;
	font-weight: 450;
	color: rgb(64, 131, 218);
	text-transform: uppercase;
}

.contact__part {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.contact__part > i {
	font-size: 25px;
	cursor: pointer;
	color: rgb(64, 131, 218);
}

@media screen and (max-width: 525px) {
	.nav {
		padding: 15px 20px;
	}
}

@media screen and (max-width: 300px) {
	.nav {
		padding: 15px 10px;
		width: auto;
	}

	.logo__part > i {
		font-size: 15px;
	}

	.logo__part > span {
		font-size: 15px;
		font-weight: 400;
	}

	.contact__part {
		gap: 10px;
	}

	.contact__part > i {
		font-size: 15px;
	}
}
